<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Books</title>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class="nav">
        <a id="navhome" class="nav-link active" aria-current="page" href="index.html">Home</a>
        <a id="navdata" class="nav-link active" aria-current="page" href="personal_data.html">Personal Data</a>
        <a id="navbooks" class="nav-link active" aria-current="page" href="books.html">Books</a>
      </nav>
    </header>
    <div id="bookApp">
      <table id= "books" class="table table-striped table-hover table-condensed">
          <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Author</th>
            <th class="text-center">Year Published</th>
            <th class="text-center">Publisher</th>
            <th class="text-center">Page Count</th>
            <th class="text-center">MSRP</th>
          </tr>
          </thead>
          <tr v-for="book in books">
            <td class="text-center"> {{book.title}} </td>
            <td class="text-center"> {{book.author}} </td>
            <td class="text-center"> {{book.year_published}} </td>
            <td class="text-center"> {{book.publisher}} </td>
            <td class="text-center"> {{book.page_count}} </td>
            <td class="text-center"> {{book.MSRP}} </td>
          </tr>
        </table>
      

      <h1>Add Book</h1>
      
      <form v-on:submit.prevent="postNewBook">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" v-model="bookForm.title"
           class="form-control" id="title">
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input type="text" v-model="bookForm.author" class="form-control" id="author">
        </div>
        <div class="mb-3">
          <label for="year_published" class="form-label">Year Published</label>
          <input type="number" v-model="bookForm.year_published" class="form-control" id="year_published">
        </div>
        <div class="mb-3">
          <label for="publisher" class="form-label">Publisher</label>
          <input type="text" v-model="bookForm.publisher" class="form-control" id="publisher">
        </div>
        <div class="mb-3">
          <label for="page_count" class="form-label">Page Count</label>
          <input type="text" v-model="bookForm.page_count" class="form-control" id="page_count">
        </div>
        <div class="mb-3">
          <label for="MSRP" class="form-label">MSRP</label>
          <input type="float" v-model="bookForm.MSRP" class="form-control" id="MSRP">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>      

    <script src="js/books.js"></script>
      

      
      <!-- <script src="js/tablesort.min.js"></script> -->
      <!-- <script>
        new Tablesort(document.getElementById('books'));
      </script> -->
    
  </body>
</html>